@import url("./reset.css");
/* fonts*/
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); 
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); 
}
/* end fonts */
/* basis style */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #102746;
}
/* basis style */

/* start header */
.header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.wrapper {
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__logo {
}
.header__logo-link {
}
.header__logo-img {
}
.header__nav {
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.header__link:hover,
.header__link:focus,
.header__link:active{
    opacity: 0.7;
}

/* end header */